@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #02d49f;
  --color-primary-hover: #33d9b1;
  --color-primary-focus: #019f87;
  --color-primary-pressed: #017a68;
  --color-primary-accent: #e0f7f3;

  --color-success: #5fc79f;
  --color-success-hover: #82d3b5;
  --color-success-focus: #45aa73;
  --color-success-pressed: #378e5f;
  --color-success-accent: #e6f9f1;

  --color-warning: #f3d486;
  --color-warning-hover: #f6dd9e;
  --color-warning-focus: #d9a840;
  --color-warning-pressed: #b78b2f;
  --color-warning-accent: #fef7ec;

  --color-danger: #eb7a7a;
  --color-danger-hover: #f08e8e;
  --color-danger-focus: #c14f4f;
  --color-danger-pressed: #9e3f3f;
  --color-danger-accent: #fdeaea;

  --color-font: #3c3c3c;
  --color-secondary: #666666;
  --color-disabled: #cccccc;
  --color-neutral: #f2f2f2;
  --color-accent: #fafafa;
  --color-background: #ffffff;

  --color-primary-dark: #01c38d;
  --color-primary-hover-dark: #33d9a5;
  --color-primary-focus-dark: #00aa76;
  --color-primary-pressed-dark: #008f63;
  --color-primary-accent-dark: #20332e;

  --color-success-dark: #4caf75;
  --color-success-hover-dark: #5fbe88;
  --color-success-focus-dark: #3c8f66;
  --color-success-pressed-dark: #2f6e4f;
  --color-success-accent-dark: #22342A;

  --color-warning-dark: #F4B740;
  --color-warning-hover-dark: #f7c960;
  --color-warning-focus-dark: #e2a832;
  --color-warning-pressed-dark: #c38d2a;
  --color-warning-accent-dark: #3C3426;

  --color-danger-dark: #cc5f5f;
  --color-danger-hover-dark: #d56f6f;
  --color-danger-focus-dark: #b94d4d;
  --color-danger-pressed-dark: #9e3f3f;
  --color-danger-accent-dark: #321a1a;

  --color-font-dark: #f4f4f4;
  --color-secondary-dark: #c7c7c7;
  --color-disabled-dark: #555555;
  --color-neutral-dark: #3a3a3a;
  --color-accent-dark: #202020;
  --color-background-dark: #171717;
}
