@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', sans-serif;

  /* Design System Colors */
  --color-primary-dark: #01875F;
  --color-primary-default: #02D49F;
  --color-primary-light: #D1FDF0;
  --color-primary-bg: #EBFFFA;
  
  --color-gray-900: #121418;
  --color-gray-800: #1C1F26;
  --color-gray-700: #292D36;
  --color-gray-600: #373C48;
  --color-gray-500: #575E6A;
  --color-gray-400: #6E7686;
  --color-gray-300: #A6B1C2;
  --color-gray-200: #D4DDEA;
  --color-gray-100: #F5F7FA;

  --color-success: #22B07D;
  --color-success-hover: #40BE92;
  --color-success-focus: #1A865F;
  --color-success-pressed: #167150;
  --color-success-accent: #E4F7F0;

  --color-warning: #FFBA2F;
  --color-warning-hover: #FFC64D;
  --color-warning-focus: #E6A72A;
  --color-warning-pressed: #CC9426;
  --color-warning-accent: #FFF8E5;

  --color-danger: #F44336;
  --color-danger-hover: #F66055;
  --color-danger-focus: #DC3C31;
  --color-danger-pressed: #C3362B;
  --color-danger-accent: #FEECEB;

  --color-success-dark: #1A865F;
  --color-success-hover-dark: #1D996D;
  --color-success-focus-dark: #187A56;
  --color-success-pressed-dark: #136345;
  --color-success-accent-dark: #0E4632;

  --color-warning-dark: #D19622;
  --color-warning-hover-dark: #E8A727;
  --color-warning-focus-dark: #B8841F;
  --color-warning-pressed-dark: #9E711A;
  --color-warning-accent-dark: #523B0F;

  --color-danger-dark: #C62828;
  --color-danger-hover-dark: #D32F2F;
  --color-danger-focus-dark: #B71C1C;
  --color-danger-pressed-dark: #991616;
  --color-danger-accent-dark: #4A1515;
}
