@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Inter', sans-serif;

    /* Design System Colors */
    --color-primary-dark: #01875F;
    --color-primary-default: #02D49F;
    --color-primary-hover: #02BD8E;
    --color-primary-light: #D1FDF0;
    --color-primary-bg: #EBFFFA;

    --color-gray-900: #121418;
    --color-gray-800: #1C1F26;
    --color-gray-700: #292D36;
    --color-gray-600: #373C48;
    --color-gray-500: #575E6A;
    --color-gray-400: #6E7686;
    --color-gray-300: #A6B1C2;
    --color-gray-200: #D4DDEA;
    --color-gray-100: #F5F7FA;

    --color-success: #2BB673;
    --color-success-hover: #5FC792;
    --color-success-focus: #1F9C60;
    --color-success-pressed: #188752;
    --color-success-accent: #E3F5EC;

    --color-warning: #F5A623;
    --color-warning-hover: #E6B35E;
    --color-warning-focus: #DC8D0A;
    --color-warning-pressed: #C47E09;
    --color-warning-accent: #F7F0E4;

    --color-danger: #E23240;
    --color-danger-hover: #D66972;
    --color-danger-focus: #C51C2A;
    --color-danger-pressed: #AF1926;
    --color-danger-accent: #F7E3E5;

    --color-success-dark: #4ED397;
    --color-success-hover-dark: #78DEB1;
    --color-success-focus-dark: #2FC080;
    --color-success-pressed-dark: #1FA36A;
    --color-success-accent-dark: #1A2E27;

    --color-warning-dark: #F1BB5E;
    --color-warning-hover-dark: #F4CB84;
    --color-warning-focus-dark: #F3A929;
    --color-warning-pressed-dark: #E2920A;
    --color-warning-accent-dark: #332C1A;

    --color-danger-dark: #E2696F;
    --color-danger-hover-dark: #E88B90;
    --color-danger-focus-dark: #E03840;
    --color-danger-pressed-dark: #CB1922;
    --color-danger-accent-dark: #331A1A;
}
