RewriteEngine on
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "origin, X-Token, content-type"
Header set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"