RewriteEngine on
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "origin, Authorization, content-type"
Header set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"